services:
  db:
    image: postgres:16-alpine
    container_name: order-service-db
    env_file:
      - .env.development
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U order_service -d order_service']
      interval: 5s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-service-api
    env_file:
      - .env.development
    environment:
      NODE_ENV: development
      PORT: ${PORT}
      ORDER_REPOSITORY_DRIVER: ${ORDER_REPOSITORY_DRIVER}
      DATABASE_URL: ${DATABASE_URL_DOCKER}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '3000:3000'

volumes:
  postgres_data:
